.flex{
    display: flex;
}
.flex-equal-spacing{
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    .flex{
        flex-direction: column;
        align-items: center;
    }
}
/* flex-direction: row;
flex-wrap: wrap;
justify-content: space-between;
align-items: center; */