.margin-left{
    margin-left: 2vw;
}

.text-left{
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.no-bullet, .no-bullet * {
    list-style: none;
}


p{
    margin: 0;
    padding: 0;
}